@import "./../fonts/Gilroy/stylesheet.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap");
html,
body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--small {
  max-width: 1094px;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: clamp(32px, 1.702rem + 1.49vw, 42px);
  font-weight: 700;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #1E1E1E;
  --accent: #E58411;
  --text-muted: #8D8D8D;
  --text-card-title: #0D1B39;
  --header-text-color: #FFFFFF;
  --footer-accent: #F6973F;
  --footer-bg: #2D2F33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-orange: #E58411;
  --ui-biruze: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-dark-blue: #0D1B39;
  --font-main: "Gilroy", sans-serif;
  --font-card: "Inter", sans-serif;
  --font-footer: "DM Sans", sans-serif;
}

.header {
  position: relative;
  padding-top: 40px;
  background-image: url("./../../img/header/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url("./../img/header/header-bg@2x.jpg");
  }
}
.header a {
  color: var(--header-text-color);
}
@media (max-width: 629px) {
  .header {
    padding-top: 20px;
    padding-bottom: 240px;
    background-position: center;
    aspect-ratio: unset;
  }
}

.header__nav {
  margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

.header__title {
  margin-bottom: 14px;
  font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
  text-wrap: balance;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
  text-transform: capitalize;
}

.header__content {
  text-align: center;
}
.header__content p {
  margin: 0 auto;
  max-width: 606px;
  line-height: 160%;
  opacity: 0.8;
  font-size: clamp(14px, 0.857rem + 0.71vw, 24px);
  text-wrap: balance;
}

.header__saerch {
  display: inline-block;
  margin: 45px auto 0;
}
@media (max-width: 819px) {
  .header__saerch {
    display: none;
  }
}

.header__dot {
  position: absolute;
}
@media (max-width: 819px) {
  .header__dot {
    display: none;
  }
}

.header__dot--sofa {
  position: absolute;
  left: 20.5555555556%;
  top: 63.1918819188%;
}

.header__dot--vase {
  position: absolute;
  left: 8.085106383%;
  top: 70.1395348837%;
  transform: translate(-50%, -50%);
}

.header__dot--item {
  position: absolute;
  left: 56.25%;
  top: 72.6014760148%;
}

.header__dot--wall {
  position: absolute;
  right: 3.2624113475%;
  top: 76.3720930233%;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.nav__logo {
  align-self: center;
}

.nav__btn {
  display: none;
}
@media (max-width: 992px) {
  .nav__btn {
    display: block;
  }
}

.nav-list {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 992px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item {
  position: relative;
  padding-bottom: 10px;
}

.nav-list__link {
  transition: opacity, color 0.2s ease-in;
}
.nav-list__link:hover {
  opacity: 0.9;
  color: var(--accent);
}
.nav-list__link--dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-list__link--dropdown::after {
  content: url("./../img/icons/arrow-down.svg");
}

.nav-list__sub-nav {
  opacity: 0;
  width: 150px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0%, 10%);
  transition: all 0.2s ease-in;
}

.nav-list__item:hover .nav-list__sub-nav {
  opacity: 1;
  pointer-events: all;
  transform: translate(0%, 0%);
}

.cart {
  align-self: center;
  justify-self: end;
  position: relative;
}

.cart__count {
  position: absolute;
  right: -6px;
  display: inline-block;
  height: 25px;
  padding: 0 6px;
  background-color: var(--accent);
  border-radius: 40px;
  font-weight: 700;
  line-height: 25px;
  font-family: var(--font-card);
}

.search-form {
  display: flex;
  gap: 15px;
  width: 344px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.search-form__input {
  flex-grow: 1;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.search-form__input::-moz-placeholder {
  color: #FFF;
  font-weight: 400;
}
.search-form__input::placeholder {
  color: #FFF;
  font-weight: 400;
}

.search-form__btn {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background-color: var(--accent);
}

.info-dot {
  position: relative;
  cursor: pointer;
}

.header__dot-circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.header__dot-radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .header__dot-radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .header__dot-circle {
  background-color: orange;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 14px;
  width: 112px;
  height: 55.956px;
  flex-shrink: 0;
  background-image: url(./../../img/icons/hint.svg);
}

.infp-hint__radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.infp-hint__radio:checked + .infp-hint__radio-take {
  background-image: url(./../../img/icons/check-no-shadow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.infp-hint__radio-take {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: gray;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.infp-hint__radio-take--orange {
  background-color: var(--ui-orange);
}
.infp-hint__radio-take--biruza {
  background-color: var(--ui-biruze);
}
.infp-hint__radio-take--gray {
  background-color: var(--ui-gray);
}

.benefits {
  padding: clamp(60px, 2.679rem + 5.36vw, 120px) 0;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 992px) {
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(30px, 0.982rem + 4.46vw, 60px) 20px;
  }
}
@media (max-width: 629px) {
  .benefits__grid {
    grid-template-columns: 1fr;
  }
}

.benefits__title {
  max-width: 260px;
}

.benehit__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.benehit__text {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.85;
  opacity: 0.8;
}

.products {
  padding: 50px 0;
  background-color: #F7F7F7;
}

.products__title {
  margin-bottom: 32px;
  text-align: center;
}

.products__tabs {
  margin-bottom: 80px;
  text-align: center;
}

.products__slider {
  margin-bottom: clamp(30px, 0.982rem + 4.46vw, 60px);
}
@media (max-width: 1400px) {
  .products__slider {
    padding: 0 40px;
  }
}
@media (max-width: 629px) {
  .products__slider {
    padding: 0 20px;
  }
}

.products__link {
  text-align: center;
}

.read-more {
  display: inline-flex;
  gap: 13px;
  align-items: center;
  color: var(--accent);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
.read-more::after {
  content: url("./../img/icons/arrow-right.svg");
  height: 24px;
}
.read-more--large {
  font-size: 18px;
}

.tab-controlos {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  border-radius: 44px;
  background: #EEE;
}

.tab-controls__btn {
  height: 45px;
  padding: 7px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: rgba(31, 31, 31, 0.8);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.85;
  transition: background-color 0.2s ease-in;
}
@media (max-width: 629px) {
  .tab-controls__btn {
    font-size: 14px;
    height: 30px;
    font-weight: 400;
    line-height: 1;
    aspect-ratio: unset;
    padding: 3px 10px;
  }
}
.tab-controls__btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-controls__btn--active {
  background-color: #FFF;
}
.tab-controls__btn--active:hover {
  background-color: #FFF;
}

.card {
  width: 268px;
  font-family: var(--font-card);
}

article {
  margin-top: 50px;
}

.card__photo {
  height: 240px;
  background-color: #FAFAFA;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.card__img {
  margin-top: -50px;
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 202px;
  padding: 14px 22px 28px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.card__category {
  color: var(--text-muted);
  font-size: 16px;
}

.card__title {
  color: var(--text-card-title);
  font-size: 21px;
  font-weight: 600;
}

.card__rating {
  display: flex;
  gap: 3px;
}

.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  color: var(--text-card-title);
  font-size: 21px;
  font-weight: 600;
}
.card__price::before {
  content: attr(data-value);
  font-size: 15px;
}

.card__btn {
  width: 48px;
  height: 48px;
  background-color: var(--ui-dark-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
}
.card__btn:hover {
  opacity: 0.8;
}

.slider {
  position: relative;
}

.slider__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.slider__btn--prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, 50%);
}

.slider__btn--next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, 50%);
}

.footer {
  padding: clamp(60px, 2.042rem + 8.63vw, 118px) 0 56px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
}
.footer a {
  color: var(--footer-text-color);
  transition: opacity 0.1s ease-in;
}
.footer a:hover {
  opacity: 0.6;
}

.footer__grid {
  margin-bottom: clamp(60px, 2.042rem + 8.63vw, 118px);
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
  gap: 60px 20px;
}
@media (max-width: 992px) {
  .footer__grid {
    grid-template-columns: 4fr 1fr 3fr 3fr;
  }
}
@media (max-width: 629px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
  }
}

.footer__desc p + p {
  margin-bottom: 1em;
}
@media (max-width: 629px) {
  .footer__desc {
    grid-column: 1/3;
  }
}

.footer__logo {
  margin-bottom: 29px;
}

.footer__nav--services {
  grid-column-start: 3;
}
@media (max-width: 629px) {
  .footer__nav--services {
    grid-column-start: auto;
  }
}

.footer__nav-title {
  margin-bottom: 20px;
  color: var(--footer-accent);
  font-family: var(--font-footer);
  font-size: 17px;
  letter-spacing: -0.232px;
}

.footer__list {
  display: grid;
  gap: 16px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 629px) {
  .footer__row {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
  }
}

.footer__copyright {
  font-family: var(--font-footer);
  font-size: 15px;
  letter-spacing: -0.205px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 629px) {
  .footer__links {
    gap: 20px;
  }
}

.logo {
  font-size: clamp(18px, 0.946rem + 0.89vw, 28px);
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: capitalize;
  color: #fff !important;
}

.sub-nav {
  display: grid;
  gap: 16px;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  font-size: 16px;
}
.sub-nav a {
  color: var(--footer-text-color);
  transition: color 0.1s ease-in;
}
.sub-nav a:hover {
  color: var(--accent);
}

.mobile-nav-wrapper {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  padding: 30px 30px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  z-index: 9;
}
.mobile-nav-wrapper a {
  color: var(--footer-text-color);
}
.mobile-nav-wrapper--open {
  display: block;
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.mobile-cart {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 20px;
  font-weight: 600;
}

.mobile-nav {
  display: grid;
  gap: 20px;
  font-size: 22px;
}

.mobile-nav__link {
  transition: color 0.2s ease-in;
}
.mobile-nav__link:hover {
  color: var(--accent);
}

.mobile-nav-sub-nav {
  padding: 20px 0 0 20px;
  display: grid;
  gap: 14px;
  font-size: 14px;
}

.mobile-sub-nav__link {
  transition: opacity, color 0.1s ease-in;
}
.mobile-sub-nav__link:hover {
  opacity: 0.7;
  color: var(--accent);
}/*# sourceMappingURL=main.css.map */