.header {
    position: relative;
    padding-top: 40px;
    background-image: url('./../../img/header/header-bg.jpg');
    background-size: cover;
    aspect-ratio: 1440 / 1084;

    color: var(--header-text-color);


    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: url('./../img/header/header-bg@2x.jpg');
    }

    a {
        color: var(--header-text-color);
    }



    @include mobile() {
        padding-top: 20px;
        padding-bottom: 240px;
        background-position: center;
        aspect-ratio: unset;
    }


}

.header__nav {
    margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}


.header__title {
    margin-bottom: 14px;

    font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
    text-wrap: balance;

    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-transform: capitalize;
}


.header__content {
    text-align: center;

    p {
        margin: 0 auto;
        max-width: 606px;

        line-height: 160%;
        opacity: 0.8;
        font-size: clamp(14px, 0.857rem + 0.71vw, 24px);
        text-wrap: balance;
    }
}

.header__saerch {
    display: inline-block;
    margin: 45px auto 0;

    @include mobile-xl() {
        display: none;
    }
}

.header__dot {
    position: absolute;

    @include mobile-xl() {
        display: none;
    }
}

.header__dot--sofa {
    position: absolute;
    left: calc(296 * 100% / 1440);
    top: calc(685 * 100% / 1084);

    // transform: translate(-10px, -10px);
}


.header__dot--vase {
    position: absolute;
    left: calc(114 * 100% / 1410);
    top: calc(754 * 100% / 1075);

    transform: translate(-50%, -50%);
}

.header__dot--item {
    position: absolute;
    left: calc(810 * 100% / 1440);
    top: calc(787 * 100% / 1084);
}

.header__dot--wall {
    position: absolute;
    right: calc(46 * 100% / 1410);
    top: calc(821 * 100% / 1075);
}